body {
    margin:0;
    padding:0;

    font-family:"Gilroy", "Open Sans", "Verdana", sans-serif;
    font-size:15px;
    line-height: 36px;
    font-weight: 300;
    color:#464646;
    letter-spacing: 0.01em;

    background-color:#ffffff;
    background-image:url("../img/Background.png");
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.btn {
    
    box-sizing: border-box;
    text-align:center;
    color:#000000;
    border:none;
    position: relative;
    font-family: "Girloy", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.036em;
    color:#000000;
    text-transform: uppercase;
    font-weight: 700;
    padding:10px 45px;
}
 
.btn::before {
    content: "";
    position: absolute;
    width:220px;
    height:8px;
    background-image: url("../img/line-yellow.png");
    top:40%;
    z-index: -1;
    margin-left:-45px;
}

.btn:hover,
.btn:focus {
    background-color:#f0c52e;
    width:220px;
}

.main-navigation {
    font: inherit;
    font-family: "Open Sans", "Verdana", sans-serif;
    
    background-color:#f7e296;
    background-image:url("../img/bg-header.png");
    
}

.user-navigation,
.site-navigation,
.site-submenu {
    list-style: none;
}

.site-navigation a{
    font-family: "Gilroy", "Verdana", sans-serif;
    font-size:18px;
    line-height: auto;
    font-weight: 700;
    color:#000000;
    text-transform: uppercase;
}

.user-navigation a,
.site-submenu a{
    font-size: 15px;
    line-height: 36px;
    font-family: "Open Sans", "Verdana", sans-serif;
    color:#000000;
    font-weight:300;
    text-transform: none;
}

.user-navigation a:hover,
.site-navigation a:hover,
.site-submenu a:hover,
.user-navigation a:focus,
.site-navigation a:focus,
.site-submenu a:focus {
    opacity: 0.6;
}

.user-navigation a:active,
.site-navigation a:active,
.site-submenu a:active {
    opacity: 0.3;
}

.slides-list {
    list-style: none;
}

.slides-item b {
    font-family: "Gilroy", "Helvectica", sans-serif;
    font-size:47px;
    font-weight: 700;
    color:#000000;
    line-height: 1.2;
}

.info-text {
    font-size:36px;
    color:#000000;
    font-family: "Gilroy", "Verdana", sans-serif;
    line-height: 1.2;
}

.hit-list {
    list-style: none;
}

.hit-item a {
    color:#000000;
    font-family: "Girloy", "Verdana", serif;
    font-weight:700;
}

.hit-icon {
    width:160px;
    height:160px;
    background-color:#f7e296;
    background-image:url("../img/bg-hits.png");
    background-repeat: no-repeat; 
}

.hit-icon:hover,
.hit-icon:focus {
    background-color: #f0c52e;
    background-image: url("../img/bg-hits-hover.png");
}

.hit-icon:active {
    background-image: url("../img/bg-hits-active.png");
}

.hit-item:active svg,
.hit-item:active .hit-info{
    opacity: 0.3;
}

.services-list {
    list-style: none;
    background-color:#e5e5e5;
    background-image:url("../img/bg-services.png");
    background-repeat: no-repeat;
}

.warranty-info-list,
.delivery-info-list,
.credit-info-list {
    list-style: none;
}

.services-item a {
    font-family: "Girloy", "Verdana", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.036em;
    color:#000000;
    text-transform: uppercase;
    font-weight: 700;
}

.services-info h2 {
    font-family: "Girloy", "Verdana", sans-serif;
    font-size:47px;
    letter-spacing: 0.01em;
    color:#000000;
}

.services-info p {
    font-family: "Open sans", Verdana, sans-serif;
    font-size:15px;
    line-height: 30px;
    letter-spacing: 0.001em;  
}

.logos-list {
    list-style: none;
}

.about,
.contacts {
    font-family: "Open Sans", "Verdana", sans-serif;
    font-size:15px;
    line-height: 30px;
    color:#464646;
}

.index-columns h2 {
    font-size:47px;
    font-family: "Girloy", "Verdana", sans-serif;
    letter-spacing: 0.01em;
    color:#000000;
}

.delivery-company-list {
    list-style:none;
}

.delivery-company-list li {
    font-weight: 700;
    font-family: "Girloy", "Verdana",sans-serif;
    font-size:16px;
    line-height: 40px;
    color:#000000;
}

.about a,
.contacts a {
    color:#000000;
    font-size:18px;
    letter-spacing: 0.036em;
    text-transform: uppercase;
    font-family: "Girloy", "Verdana", sans-serif;
}

.main-footer {
    background-color:#464646;
    background-image: url("../img/bg-footer.png");
    background-repeat: no-repeat;
}

.main-footer a,
.main-footer p {
    list-style: none;
    color:#ffffff;
}

.footer-site-menu a{
    font-family: "Girloy", "Verdana", sans-serif;
    font-size:18px;
    letter-spacing: 0.09em;
    font-weight:700;
    text-transform: uppercase;
}








